<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About Page</title>
</head>
<body>
    <h1>Node js application</h1>
    <p>Right now it supports 2 paths:
        <li>/ - home page</li>
        <li>/dummy.html</li>
    </p>
    <a href="/">Home</a>
</body>
</html>