<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Rest API's Page</title>
</head>
<body>
    <h1>Following endpoints are available</h1>
    <p>
        <li>POST /create - takes a json array and saves it as a json in fileSystem</li>
        <li>GET /read - reads the json file</li>
		<li>PUT /update - updates a json element by id. Pass in id and other fields to update as json in request body</li>
        <li>DELETE /delete/:id - deletes the json element by id</li>
		<li>DELETE /deleteFile - deletes the entire json file</li>
    </p>
    <p>
        Sample json 
        [
	{
		"id": 1,
		"name": "neerk",
		"age": 23
	},
	{
		"id": 2,
		"name": "logad",
		"age": 23
	},
	{
		"id": 3,
		"name": "sravd",
		"age": 23
	},
	{
		"id": 4,
		"name": "saie",
		"age": 23
	}
]
    </p>
</body>
</html>